/* Octopus Energy brand colours used in the design */
:root {
  --hemocyanin: rgb(23, 4, 71);
  --ice: rgb(240, 255, 255);
  --plum: rgb(96, 14, 107);
  --purpleHaze: rgb(164, 159, 200);
  --siphon: rgb(16, 0, 48);
  --sohoLights: rgb(240, 80, 248);

  --border-radius: 10px;

  --s0: 0;
  --s1: 4px;
  --s2: 8px;
  --s3: 12px;
  --s4: 16px;
  --s5: 20px;
  --s6: 24px;
  --s7: 32px;

  --header-height: 56px;
  --max-width: 640px;
}

* {
  box-sizing: border-box;
}

html,
body,
body > div {
  width: 100%;
  min-height: 100%;
  padding: var(--s0);
  margin: 0;
  font-family: Gotham, helvetica, arial, sans-serif;
  color: var(--ice);
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  background: var(--siphon);
}

h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5;
  margin: 16px 0;
}

h2 {
  margin: 0;
}

a {
  color: var(--sohoLights);
}
.image {
  max-width: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--s0);
  min-width: 100%;
  min-height: 100%;
}

.footer-section {
  margin-top: auto;
  font-size: 9px;
  font-weight: 300;
  color: var(--purpleHaze);
  line-height: 1.75;
}

.footer-section > p {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--s5);
}

.page-section {
  padding: var(--s5);
  margin: 0 auto;
  max-width: var(--max-width);
}

.alternate-section {
  background-color: var(--hemocyanin);
}

.section-content {
  margin: 16px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
}

.table {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 16px;
  margin: 16px 0;
}
