.nav {
  --nav-back-height: 32px;
  --nav-back-content-height: 16px;

  height: var(--height);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--s0) var(--s5);
  background-color: var(--siphon);
}

.link {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--s2);
  height: 100%;
  font-size: var(--nav-back-content-height);
  text-transform: uppercase;
  text-decoration: none;
}

.icon {
  width: var(--nav-back-content-height);
  height: var(--nav-back-content-height);
}
